*.suo

*.sln

*.dll

*.v2

*.json

*.exe

*.pdb

*.cache

FirstLab/Pathfinders/Pathfinders/obj/Debug/net6.0/

FirstLab/Pathfinders/Pathfinders/obj/

*.csproj

*.v5

отчеты/

кр/

*.vsidx

*.lock

*.testlog

*.manifest

*.props

*.targets

SecondLab/LabMinimax/MinimaxLab/obj/Debug/net6.0/

FourthLab/FourthLab/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs

FourthLab/FourthLab/obj/Debug/net6.0/FourthLab.AssemblyInfo.cs

FourthLab/FourthLab/obj/Debug/net6.0/FourthLab.GeneratedMSBuildEditorConfig.editorconfig

FourthLab/FourthLab/obj/Debug/net6.0/FourthLab.GlobalUsings.g.cs

FourthLab/FourthLab/obj/Debug/net6.0/FourthLab.csproj.BuildWithSkipAnalyzers

FourthLab/FourthLab/obj/Debug/net6.0/FourthLab.csproj.FileListAbsolute.txt

FifthLab/SimplexLab/ConsoleApp1/obj/Debug/net6.0/

SixthLab/NelderMead/NelderMead/obj/Debug/net6.0/
